    <div class="header">
      <div class="header__left">
        <i id="menu" class="material-icons">menu</i>
        <img
        class="material-icons"
          src="../../assets/logo.png"
          alt=""
        />
      </div>

      <div class="header__search">
        <form action="">
          <input type="text" placeholder="Search" />
          <button><i class="material-icons">search</i></button>
        </form>
      </div>

      <div class="header__icons">
        <i class="material-icons">videocam</i>
        <i class="material-icons">notifications</i>
        <i class="material-icons display-this">account_circle</i>
      </div>
    </div>
  
    <div class="mainBody">

      <div class="sidebar">

        <div class="sidebar__categories">
          <div class="sidebar__category">
            <i class="material-icons">home</i>
          </div>

          <div class="sidebar__category">
            <i class="material-icons">local_fire_department</i>
          </div>

          <div class="sidebar__category">
            <i class="material-icons"><img height="23px" src="../../assets/shorts.png" alt=""></i>
          </div>

          <div class="sidebar__category">
            <i class="material-icons">subscriptions</i>
          </div>

        </div>

        <hr />
      
        <hr />
      </div>
    </div>
   